* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #121212;
  
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: #4a00a5;
  transition: width 0.4s;
}

body.open .sidebar {
  width: 310px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.sidebar-header {
  display: flex;
  align-items: center;
 
  width: 320px;
  padding: 0 1.25rem 0 0;
  background: rgb(0, 0, 0);
}

.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url(./assets/icon-burger.svg) no-repeat center center;
}

body.open .sidebar-burger {
  background: url(./assets/icon-close.svg) no-repeat no-repeat center center;
}

.sidebar-logo {
  margin-top: 10px;
  height: 90px;
  

}

.sidebar-menu {
  margin-top: 1rem;
  display: grid;
}

.sidebar-menu > button {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 60px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
}

.sidebar-menu > button.has-border {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 1rem;
}

.sidebar-menu > button > img {
  width: 24px;
  height: 24px;
}

.sidebar-menu > button > span {
  color: #f9f9f9;
}


/* ----------- */


.sidebar button.active,
.subnav {
  background: transparent
}

.sidebar button:hover {
  background: transparent
}

.sidebar button span:nth-child(10) {
  flex: 1 1 auto;
}

.sidebar button.active span:nth-child(3) {
  rotate: -180deg;
}

.sub-nav button.active::before {
  background: #f9f9f9;
}

.subnav {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
  
}

.subnav-inner{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subnav-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.subnav-inner button{
  margin-top: 0.25rem;
}

#icon{
  margin-left: 5rem;
}

.sub-item{
  font-size: 18px;
  color: #ffffffce;
  
}


/* ========================= MAIN =================== */

main{
  margin-top: -4.2%;
  margin-left: 4.6rem;
  background-color: #480996;
  height: 100px;
  
}


.profile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-perfil{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-top: 1rem;

}

@media(width < 835px ) {
  main{
    margin-left: 4.5rem;

 
  }
  .profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -25%;
  }
}


@media(width < 1281px){
  main{
    margin-top: -6.2%;
    margin-left: 4.6rem;
  }
}