body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

a {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

.container-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    background-color: #217E84;
}

.container {
    max-width: 1160px;
    width: 100%;
   
    height: 100%;

}

.container button {
    margin-left: 36px;
    margin-top: 36px;
}

.btn-geral {
    width: 150px;
    height: 50px;
    background-color: #124F53;
    color: white;
    border: none;
    border-radius: 6px;
}

.title-section {
    font-size: 52px;
    padding: 36px;

}

.title-section>.line {
    height: 10px;
    width: 160px;
    border-radius: 12px;
    background: #124F53;
}

/* SECTION NAVBAR */
#navbar {
    background-color: rgb(134, 22, 168);
}
#navbar h1{
    color: rgb(255, 254, 254);
}

#btn-navbar {
    width: 150px;
    height: 50px;
    background-color: rgb(134, 22, 168);
    color: white;
    border: none;
    border-radius: 6px;
}


